.parent-of-model {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  

}




.forgot-password{
  background-color: whitesmoke;
  width: 400px;
  height: 333px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  
  scale: 1;
  transform: translateY(0vh);
  transition: 1s;
}


/* .show-forgot-password{
scale: 1;
transform: translateY(0);

} */

.forgot-pass{
  font-size: 19px;
  font-weight: normal;
}

.forgot-pass:hover{
  font-size: 20px;
  cursor: pointer;
 
  font-weight: bold;
  transition: 0.3s;
}

.close .fa-xmark{
  font-size: 29px;
  color: #444;
  position: absolute;
  top: 17px;
  right: 22px;
}

.close .fa-xmark:hover{
  color: orange;
  font-size: 30px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.check-email{
  color: #333;
  font-size: 16px;
  margin-top: 25px;
  line-height: 25px;
  
}






/* Signup */
.form-box {
  max-width: 300px;
  background: #212121;
  overflow: hidden;
  border-radius: 16px;
  color: #fff;
  
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #999;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #212121;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
  color: #fff;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #212121;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

 